<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>V LIVE ─ 이벤트</title>
        <link>undefined</link>
        <description>undefined</description>
        <lastBuildDate>Mon, 27 Jun 2022 19:40:50 GMT</lastBuildDate>
        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
        <generator>https://github.com/jpmonette/feed</generator>
        <item>
            <title><![CDATA[Beyond LIVE - SUPER JUNIOR 15th Anniversary Special Event – 초대(Invitation)​]]></title>
            <link>https://www.vlive.tv/product/ds00u00u00000328</link>
            <guid>https://www.vlive.tv/product/ds00u00u00000328</guid>
            <pubDate>Sat, 23 Apr 2022 13:45:12 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/product/ds00u00u00000328" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-4" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">Beyond LIVE - SUPER JUNIOR 15th Anniversary Special Event – 초대(Invitation)​</a></strong>
				<span class="date">2020.11.03. - 2020.11.07.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					11/7 (SAT) 17:00 (KST) 슈퍼주니어 15주년 팬미팅으로 초대합니다!</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20201103_151/1604396589008nNSfN_JPEG/upload_206661960319265936a50083d-ffd7-47bb-8d25-f15d90bebe3d.jpg?type=f666_158" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[새로워진 VLIVE를 소개합니다!]]></title>
            <link>https://www.vlive.tv/promotion/renewal2020?lang=ko</link>
            <guid>https://www.vlive.tv/promotion/renewal2020?lang=ko</guid>
            <pubDate>Sat, 23 Apr 2022 13:45:12 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/promotion/renewal2020?lang=ko" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-3" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">새로워진 VLIVE를 소개합니다!</a></strong>
				<span class="date">2020.10.31. - 2020.11.05.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					스타와 팬이 함께하는 우리만의 공간</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20201031_173/1604120336354WTjs9_PNG/upload_V_event_666x158_KR.png?type=f666_158" length="0" type="image/png"/>
        </item>
        <item>
            <title><![CDATA[NU'EST ON-CLIP 'UNBOXING']]></title>
            <link>https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn</link>
            <guid>https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn</guid>
            <pubDate>Sat, 23 Apr 2022 13:45:12 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-2" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">NU'EST ON-CLIP 'UNBOXING'</a></strong>
				<span class="date">2020.08.10. - 2020.10.11.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					나만의 방에서 풀어보는 뉴이스트의 아주 특별한 선물!  온라인으로 전하는 5인 5색 VIDEO CLIP BOX</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20200810_266/1597051290620277io_PNG/upload_PC_DA_V_EC9DB4EBB2A4ED8AB8_KR.png?type=f666_158" length="0" type="image/png"/>
        </item>
        <item>
            <title><![CDATA[SJ Returns4 Membership]]></title>
            <link>https://campaign.naver.com/pr/v/sjreturns4/ko/</link>
            <guid>https://campaign.naver.com/pr/v/sjreturns4/ko/</guid>
            <pubDate>Sat, 23 Apr 2022 13:45:12 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://campaign.naver.com/pr/v/sjreturns4/ko/" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-1" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">SJ Returns4 Membership</a></strong>
				<span class="date">2020.04.27. - 2020.05.10.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					'슈주 리턴즈4'를 가장 먼저 즐기는 방법! 지금 바로 '슈주 리턴즈4' 멤버십에 가입하고 2주 먼저 본방을 만나보세요!</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20201015_282/1602733999342E2um2_PNG/upload_EC8A88ECA3BCEBA6ACED84B4ECA688EBB0B0EB8488_kr.png?type=f666_158" length="0" type="image/png"/>
        </item>
        <item>
            <title><![CDATA[펫셔니스타 탱구 비하인드 !]]></title>
            <link>https://www.vlive.tv/product/ds00u00u00000135</link>
            <guid>https://www.vlive.tv/product/ds00u00u00000135</guid>
            <pubDate>Sat, 23 Apr 2022 13:45:12 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/product/ds00u00u00000135" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=0" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">펫셔니스타 탱구 비하인드 ! </a></strong>
				<span class="date">2020.03.04. - 2020.12.31.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					본방에서는 볼 수 없었던 태연 &amp; 제로의 미공개 비하인드! </p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20200309_135/1583728270478fa3xI_PNG/upload_666x158_kor.png?type=f666_158" length="0" type="image/png"/>
        </item>
    </channel>
</rss>