<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>V LIVE ─ 이벤트</title>
        <link>undefined</link>
        <description>undefined</description>
        <lastBuildDate>Thu, 29 Dec 2022 12:57:47 GMT</lastBuildDate>
        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
        <generator>https://github.com/jpmonette/feed</generator>
        <item>
            <title><![CDATA[Beyond LIVE - SUPER JUNIOR 15th Anniversary Special Event – 초대(Invitation)​]]></title>
            <link>https://www.vlive.tv/product/ds00u00u00000328</link>
            <guid>https://www.vlive.tv/product/ds00u00u00000328</guid>
            <pubDate>Wed, 16 Nov 2022 17:51:10 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/product/ds00u00u00000328" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-4" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">Beyond LIVE - SUPER JUNIOR 15th Anniversary Special Event – 초대(Invitation)​</a></strong>
				<span class="date">2020.11.03. - 2020.11.07.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					11/7 (SAT) 17:00 (KST) 슈퍼주니어 15주년 팬미팅으로 초대합니다!</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20201103_151/1604396589008nNSfN_JPEG/upload_206661960319265936a50083d-ffd7-47bb-8d25-f15d90bebe3d.jpg?type=f666_158" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[새로워진 VLIVE를 소개합니다!]]></title>
            <link>https://www.vlive.tv/promotion/renewal2020?lang=ko</link>
            <guid>https://www.vlive.tv/promotion/renewal2020?lang=ko</guid>
            <pubDate>Wed, 16 Nov 2022 17:51:10 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/promotion/renewal2020?lang=ko" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-3" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">새로워진 VLIVE를 소개합니다!</a></strong>
				<span class="date">2020.10.31. - 2020.11.05.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					스타와 팬이 함께하는 우리만의 공간</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20201031_173/1604120336354WTjs9_PNG/upload_V_event_666x158_KR.png?type=f666_158" length="0" type="image/png"/>
        </item>
        <item>
            <title><![CDATA[NU'EST ON-CLIP 'UNBOXING']]></title>
            <link>https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn</link>
            <guid>https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn</guid>
            <pubDate>Wed, 16 Nov 2022 17:51:10 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://campaign.naver.com/vliveplus/ko/event/nu_est.nhn" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-2" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">NU'EST ON-CLIP 'UNBOXING'</a></strong>
				<span class="date">2020.08.10. - 2020.10.11.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					나만의 방에서 풀어보는 뉴이스트의 아주 특별한 선물!  온라인으로 전하는 5인 5색 VIDEO CLIP BOX</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20200810_266/1597051290620277io_PNG/upload_PC_DA_V_EC9DB4EBB2A4ED8AB8_KR.png?type=f666_158" length="0" type="image/png"/>
        </item>
        <item>
            <title><![CDATA[2020 TXT FANLIVE DREAM TOGETHER]]></title>
            <link>https://www.vlive.tv/product/ds00u00u00000146</link>
            <guid>https://www.vlive.tv/product/ds00u00u00000146</guid>
            <pubDate>Wed, 16 Nov 2022 17:51:10 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/product/ds00u00u00000146" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=-1" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">2020 TXT FANLIVE DREAM TOGETHER</a></strong>
				<span class="date">2020.03.02. - 2020.03.08.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					투모로우바이투게더와 MOA들이 함께하는 데뷔 후 첫 팬 라이브 '2020 TXT FANLIVE DREAM X TOGETHER'</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20200302_110/1583135045563aUfBG_JPEG/upload_666x158_PCEC9DB4EBB2A4ED8AB8_kor.jpg?type=f666_158" length="0" type="image/jpg"/>
        </item>
        <item>
            <title><![CDATA[<언어의 온도 : 우리의 열아홉> 가장 먼저 보는 방법!]]></title>
            <link>https://www.vlive.tv/product/ds00u00u00000145</link>
            <guid>https://www.vlive.tv/product/ds00u00u00000145</guid>
            <pubDate>Wed, 16 Nov 2022 17:51:10 GMT</pubDate>
            <content:encoded><![CDATA[<strong class="title"><a class="ellipsis" href="https://www.vlive.tv/product/ds00u00u00000145" data-ba-sceneid="web_g_eventhome_charts_premium" data-ba-classifier="eventbanner" data-ba-extra="banner_seat_no=0" onclick="vlive.ba.clickEvent(this);" target="_blank" style="overflow-wrap: break-word; white-space: normal;">&lt;언어의 온도 : 우리의 열아홉&gt; 가장 먼저 보는 방법!</a></strong>
				<span class="date">2020.02.13. - 2020.04.04.</span>
				<p class="desc ellipsis" style="overflow-wrap: break-word;">
					어른들은 모르고 아이들은 숨겨온.. VLIVE 먼저 보기로 최초 공개!</p>]]></content:encoded>
            <enclosure url="https://v-phinf.pstatic.net/20200213_50/1581577748388KLR3y_PNG/upload_666x158_01_kr.png?type=f666_158" length="0" type="image/png"/>
        </item>
    </channel>
</rss>